<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313867401373-ks94v0vs44tb7v3oaj6gukcl3sgek7um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313867401373-ks94v0vs44tb7v3oaj6gukcl3sgek7um</string>
	<key>API_KEY</key>
	<string>AIzaSyCe6FvO5h6eABPqFlrjOO3ZV0gLXAM6oxg</string>
	<key>GCM_SENDER_ID</key>
	<string>313867401373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizmaker</string>
	<key>PROJECT_ID</key>
	<string>quizmaker-4ea8d</string>
	<key>STORAGE_BUCKET</key>
	<string>quizmaker-4ea8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313867401373:ios:88740df20ed36e03067c74</string>
</dict>
</plist>